@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
header {
	margin-top:450px;
	width:100%;
	height:90px;
	overflow:hidden;
	position:relative;
	border-radius:50px;
}
body{
background: rgb(69,72,77);
background: -moz-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
	position:relative;
	background-size:1920px 1080px;
	background-repeat:repeat;

}

nav {
	margin-left:-40px;
	margin:10px auto;
	width:50%;
	max-width:1200px;
	
}
nav ul {
	list-style:none;	
}
nav > ul {
	display:table;
	overflow:hidden;
	width:100%;
	box-shadow:1px 0px 25px #04DDAC;
	background:#10D2E5;
	position:relative;
		-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	
}
nav > ul li {
	display:table-cell;
	
}
/*sub-menu*/
nav > ul > li:hover > ul {
	display:block;
}




nav > ul li a {
	color:#fff;
	background:#grey;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:18px;
	display:block;
	line-height:20px;
	padding:20px;
	position:relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
nav > ul > li > ul > li a:hover {
	background:#FF770B
}
nav > ul > li > a span {
	background:#C25396;
	display:block;
	color:#FFF;
	height:100%;
	width:100%;
	left::0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	
}
nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}
nav > ul > li > a:hover > span {
	top:0;
	
}
nav > ul:hover{
	box-shadow:1px 0px 30px #C25396;
		-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	
	}
/* colores */
nav ul li a .primero {
	background:#C25396;
	box-shadow:0px 0.2px 7px #000;
	
}
nav ul li a .segundo {
	background:#000;
	box-shadow:0px 0.2px 7px #000;
}
nav ul li a .tercero {
	background:#C25396;
	box-shadow:0px 0.2px 7px #000;
}
nav ul li a .cuarto {
	background:#04DDAC;
	box-shadow:0px 0.2px 7px #000;
}
nav ul li a .quinto {
	background:#C25396;
	box-shadow:0px 0.2px 7px #000;
}
/*ID'S*/
#imagenexotic {
	margin-bottom:-200px;
	width:350px;
	height:220px;
	left:-90px;
	top:40px;
	float:left;
	
}
#imagenexotic2 {
	margin-bottom:-200px;
	width:350px;
	height:220px;
	left:-90px;
	top:-50px;
	float:left;
	
}
#piedepagina {
	text-align:left;
	top:500px;
	
	}
#Apiedepagina {
		text-decoration:none;
}
footer {
	clear:both;
	padding-top:200px;
	text-decoration:none;
	
}
footer p {
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.6em;
	color:#000;
	margin:0px 500px;
	text-decoration:none;
	text-align:center;
}
footer p a {
	text-decoration:none;
}